In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
%matplotlib inline

In [3]:
!ls data/

_97bd1c1e5df9537bb13398c9898deed7_detroit-blight-violations.csv
buildings.csv
_dcebfb2135a2bf5a6392493bd61aba22_detroit-311.csv
_dcebfb2135a2bf5a6392493bd61aba22_detroit-crime.csv
_dcebfb2135a2bf5a6392493bd61aba22_detroit-demolition-permits.tsv

In [5]:
crime_data = pd.read_csv("data/_dcebfb2135a2bf5a6392493bd61aba22_detroit-crime.csv")
crime_data.shape

(119931, 17)

In [6]:
crime_data.head()

,ROWNUM,CASEID,INCINO,CATEGORY,OFFENSEDESCRIPTION,STATEOFFENSEFILECLASS,INCIDENTDATE,HOUR,SCA,PRECINCT,COUNCIL,NEIGHBORHOOD,CENSUSTRACT,ADDRESS,LON,LAT,LOCATION
0,53256,1953933,1506030028.1,ASSAULT,ASSAULT AND BATTERY/SIMPLE ASSAULT,13001.0,06/03/2015 12:00:00 AM,2,1007.0,10.0,City Council District 5,PETOSKEY-OTSEGO,5334.0,09100 PETOSKEY,-83.1221,42.3678,"PETOSKEY\n09100\n(42.3676, -83.1219)"
1,17631,1917717,1503010158.1,LARCENY,LARCENY - PARTS AND ACCESSORIES FROM VEHICLE,23006.0,03/01/2015 12:00:00 AM,9,608.0,6.0,City Council District 7,GRANDALE,5452.0,00 PLYMOUTH AND MANSFIELD,-83.2035,42.3724,"00 PLYMOUTH AND MANSFIELD\n(42.3725, -83.2033)"
2,11207,1910955,1502080223.1,STOLEN VEHICLE,VEHICLE THEFT,24001.0,02/08/2015 12:00:00 AM,18,1105.0,11.0,City Council District 3,OUTER DRIVE VAN DYKE,5051.0,00 E 7 MILE VAN DYKE,-83.0241,42.4338,"00 E 7 MILE VAN DYKE\n(42.4339, -83.0241)"
3,116589,2018186,1511090188.1,WEAPONS OFFENSES,WEAPONS OFFENSE (OTHER),52003.0,11/09/2015 12:00:00 AM,12,210.0,2.0,City Council District 6,TIREMAN,NaN,06600 BARTON,-83.1381,42.3496,"BARTON\n06600\n(42.3494, -83.1379)"
4,85790,1986862,1508239803.1,LARCENY,LARCENY - PARTS AND ACCESSORIES FROM VEHICLE,23006.0,08/14/2015 12:00:00 AM,7,309.0,3.0,City Council District 6,WEST CANFIELD,5204.0,00900 W WILLIS,-83.0692,42.3481,"W WILLIS\n00900\n(42.3481, -83.0693)"

In [7]:
crime_data.columns

Index([u'ROWNUM', u'CASEID', u'INCINO', u'CATEGORY', u'OFFENSEDESCRIPTION',
       u'STATEOFFENSEFILECLASS', u'INCIDENTDATE', u'HOUR', u'SCA', u'PRECINCT',
       u'COUNCIL', u'NEIGHBORHOOD', u'CENSUSTRACT', u'ADDRESS', u'LON', u'LAT',
       u'LOCATION'],
      dtype='object')

In [8]:
demolition_data = pd.read_csv("data/_dcebfb2135a2bf5a6392493bd61aba22_detroit-demolition-permits.tsv", sep='\t')
demolition_data.head()

,PERMIT_NO,PERMIT_APPLIED,PERMIT_ISSUED,PERMIT_EXPIRES,SITE_ADDRESS,BETWEEN1,PARCEL_NO,LOT_NUMBER,SUBDIVISION,CASE_TYPE,...,CONTRACTOR_ADDRESS1,CONTRACTOR_ADDRESS2,CONTRACTOR_CITY,CONTRACTOR_STATE,CONTRACTOR_ZIP,CONDITION_FOR_APPROVAL,site_location,owner_location,contractor_location,geom
0,BLD2015-03955,8/28/15,8/28/15,NaN,4331 BARHAM,BETWEEN VOIGHT AND WAVENEY,21 65525-6,S15,NaN,BLD,...,13500 FOLEY,NaN,DETROIT,NaN,48227.0,NaN,"4331 BARHAM\nDetroit, MI\n(42.394106, -82.9474)","65 CADILLAC\nDETROIT, MI\n(42.331741326000042,...","13500 FOLEY\nDETROIT, MI\n(42.379332, -83.177501)",NaN
1,BLD2015-04083,8/28/15,8/28/15,NaN,9707 BESSEMORE,BETWEEN VINTON AND GRATIOT,19 2312.,40,NaN,BLD,...,13500 FOLEY,NaN,DETROIT,NaN,48227.0,NaN,"9707 BESSEMORE\nDetroit, MI\n(42.395122, -83.0...","65 CADILLAC\nDETROIT, MI\n(42.331741326000042,...","13500 FOLEY\nDETROIT, MI\n(42.379332, -83.177501)",NaN
2,BLD2015-03976,8/28/15,8/28/15,NaN,5315 BERKSHIRE,BETWEEN SOUTHAMPTON AND FRANKFORT,21 69321.,445,NaN,BLD,...,13500 FOLEY,NaN,DETROIT,NaN,48227.0,NaN,"5315 BERKSHIRE\nDetroit, MI\n(42.40322, -82.94...","65 CADILLAC\nDETROIT, MI\n(42.331741326000042,...","13500 FOLEY\nDETROIT, MI\n(42.379332, -83.177501)",NaN
3,BLD2015-03781,8/28/15,8/28/15,NaN,16670 BRINGARD DR,BETWEEN CUSHING AND SHAKESPEARE,21 25930.,97,NaN,BLD,...,13500 FOLEY,NaN,DETROIT,NaN,48227.0,NaN,"16670 BRINGARD DR\nDetroit, MI\n(42.44664, -82...","65 CADILLAC\nDETROIT, MI\n(42.331741326000042,...","13500 FOLEY\nDETROIT, MI\n(42.379332, -83.177501)",NaN
4,BLD2015-03677,8/28/15,8/28/15,NaN,1454 BEATRICE,BETWEEN TORONTO AND GILROY,20 12871.012,21,NaN,BLD,...,13500 FOLEY,NaN,DETROIT,NaN,48227.0,NaN,"1454 BEATRICE\nDetroit, MI\n(42.276956, -83.14...","65 CADILLAC\nDETROIT, MI\n(42.331741326000042,...","13500 FOLEY\nDETROIT, MI\n(42.379332, -83.177501)",NaN

In [9]:
demolition_data.shape

(7133, 55)

In [10]:
demolition_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7133 entries, 0 to 7132
Data columns (total 55 columns):
PERMIT_NO                 7133 non-null object
PERMIT_APPLIED            7133 non-null object
PERMIT_ISSUED             7133 non-null object
PERMIT_EXPIRES            6953 non-null object
SITE_ADDRESS              7133 non-null object
BETWEEN1                  7091 non-null object
PARCEL_NO                 7133 non-null object
LOT_NUMBER                7062 non-null object
SUBDIVISION               6087 non-null object
CASE_TYPE                 7133 non-null object
CASE_DESCRIPTION          7133 non-null object
LEGAL_USE                 6689 non-null object
ESTIMATED_COST            342 non-null object
PARCEL_SIZE               7088 non-null float64
PARCEL_CLUSTER_SECTOR     7122 non-null float64
STORIES                   5707 non-null float64
PARCEL_FLOOR_AREA         7088 non-null float64
PARCEL_GROUND_AREA        7088 non-null float64
PRC_AKA_ADDRESS           293 non-null object
BLD_PERMIT_TYPE           7133 non-null object
PERMIT_DESCRIPTION        5859 non-null object
BLD_PERMIT_DESC           6142 non-null object
BLD_TYPE_USE              7081 non-null object
RESIDENTIAL               7133 non-null object
DESCRIPTION               5859 non-null object
BLD_TYPE_CONST_COD        6932 non-null object
BLD_ZONING_DIST           2414 non-null object
BLD_USE_GROUP             6688 non-null object
BLD_BASEMENT              6277 non-null object
FEE_TYPE                  7133 non-null object
CSM_CASENO                7133 non-null object
CSF_CREATED_BY            7133 non-null object
SEQ_NO                    7133 non-null int64
PCF_AMT_PD                5859 non-null object
PCF_AMT_DUE               7133 non-null object
PCF_UPDATED               6662 non-null object
OWNER_LAST_NAME           7105 non-null object
OWNER_FIRST_NAME          769 non-null object
OWNER_ADDRESS1            7133 non-null object
OWNER_ADDRESS2            1528 non-null object
OWNER_CITY                7133 non-null object
OWNER_STATE               7133 non-null object
OWNER_ZIP                 6554 non-null object
CONTRACTOR_LAST_NAME      7072 non-null object
CONTRACTOR_FIRST_NAME     36 non-null object
CONTRACTOR_ADDRESS1       7133 non-null object
CONTRACTOR_ADDRESS2       1722 non-null object
CONTRACTOR_CITY           7133 non-null object
CONTRACTOR_STATE          6151 non-null object
CONTRACTOR_ZIP            6954 non-null float64
CONDITION_FOR_APPROVAL    2 non-null object
site_location             6330 non-null object
owner_location            6328 non-null object
contractor_location       6152 non-null object
geom                      41 non-null object
dtypes: float64(6), int64(1), object(48)
memory usage: 3.0+ MB

In [11]:
demolition_data.CASE_DESCRIPTION.unique()

array(['Building Permit'], dtype=object)

In [12]:
demolition_data.CASE_TYPE.unique()

array(['BLD'], dtype=object)

In [13]:
demolition_data.PERMIT_DESCRIPTION.unique()

array([nan, 'Dismantle'], dtype=object)

In [14]:
demolition_data.BLD_PERMIT_TYPE.unique()

array(['Dismantle', 'DISM'], dtype=object)

In [15]:
def add_latlon(df, col):
    """Add latlon column to the df by extracting from col"""
    df_ = df.copy()    
    df_[col] = df_[col].fillna('')

    geo_pat = re.compile('\((.+), (.+)\)')
    df_['lat'] = df_[col].apply(lambda x: float(re.search(geo_pat, x).group(1)) if re.search(geo_pat, x) else np.nan)
    df_['lon'] = df_[col].apply(lambda x: float(re.search(geo_pat, x).group(2)) if re.search(geo_pat, x) else np.nan)
#     geo_pat = re.compile('\((.+)\)')
#     df_['latlon'] = df_[col].apply(lambda x: re.search(geo_pat, x).group(1) if re.search(geo_pat, x) else np.nan)

    return df_

In [16]:
from geopy.distance import distance
def get_distance(A, B):
    return distance((A[0], A[1]), (B[0], B[1])).meters

In [17]:
demolition_df = demolition_data.dropna(subset=['site_location'])
demolition_df = add_latlon(demolition_df, 'site_location')

In [18]:
demolition_df.lat.head()

0    42.394106
1    42.395122
2    42.403220
3    42.446640
4    42.276956
Name: lat, dtype: float64

In [19]:
buildings_df = pd.read_csv("data/buildings.csv", index_col='No')

In [75]:
# def get_buildings(lat, lon, r=20):
#     """Given lat, lon, return building No. from building_df.
#     Building is defined as a circle of radius 20m
#     """
#     try:
#         dist = buildings_df.apply(lambda x: get_distance((x.lat, x.lon), (lat, lon)), axis=1)
#         return dist[dist < r].index.to_list()
#     except AttributeError:
#         return ''

### Use knn model for labeling new data
row-wise calculation is too slow. knn uses tree structure and parallelization to speed up

In [20]:
from sklearn.neighbors import KNeighborsClassifier

In [21]:
model = KNeighborsClassifier(n_neighbors=1, algorithm='kd_tree', n_jobs=10)

In [22]:
model.fit(buildings_df[['lat', 'lon']].values, buildings_df.index)

KNeighborsClassifier(algorithm='kd_tree', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=10, n_neighbors=1, p=2,
           weights='uniform')

In [23]:
buildings_df.head()

          lat        lon
No
0   42.363186 -83.091669
1   42.429329 -83.220389
2   42.428929 -83.227529
3   42.441671 -83.144992
4   42.418294 -83.153599

In [24]:
X = demolition_df[['lat', 'lon']].dropna()
X['building_no'] = model.predict(X.values)

In [33]:
## total number of demolished buildings
len(X.building_no.unique())

4003

In [28]:
1 in X.building_no

True

In [29]:
buildings_df['demolished'] = buildings_df.index.isin(X.building_no)

In [36]:
buildings_df.head(10)

          lat        lon demolished
No
0   42.363186 -83.091669      False
1   42.429329 -83.220389      False
2   42.428929 -83.227529      False
3   42.441671 -83.144992      False
4   42.418294 -83.153599      False
5   42.420965 -83.153742      False
6   42.331681 -83.047996       True
7   42.427744 -83.144551      False
8   42.352897 -83.223485      False
9   42.355041 -83.226089       True

In [34]:
buildings_df.demolished.value_counts()

False    36266
True      4003
Name: demolished, dtype: int64

In [39]:
buildings_df[buildings_df.demolished == False].sample(10)

             lat        lon demolished
No
12636  42.408171 -82.951760      False
18964  42.412497 -82.939351      False
11041  42.408625 -83.066891      False
15381  42.433239 -83.243318      False
17577  42.391961 -83.127654      False
16843  42.389300 -83.166612      False
37289  42.415851 -83.233864      False
27733  42.401849 -83.146057      False
21841  42.367072 -83.192904      False
8666   42.400893 -82.986721      False

In [40]:
train_data = pd.concat([buildings_df[buildings_df.demolished == False].sample(4003),
                        buildings_df[buildings_df.demolished == True]])

### Try simplest model: use single feature - No. of blight violations

In [42]:
incident_data = pd.read_csv("data/_97bd1c1e5df9537bb13398c9898deed7_detroit-blight-violations.csv")
incident_data.head()

/usr/local/lib/python2.7/dist-packages/IPython/core/interactiveshell.py:2902: DtypeWarning: Columns (6,10,11,12) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,TicketID,TicketNumber,AgencyName,ViolName,ViolationStreetNumber,ViolationStreetName,MailingStreetNumber,MailingStreetName,MailingCity,MailingState,...,AdminFee,LateFee,StateFee,CleanUpCost,JudgmentAmt,PaymentStatus,Void,ViolationCategory,ViolationAddress,MailingAddress
0,26288,05000001DAH,Department of Public Works,"Group, LLC, Grand Holding",2566,GRAND BLVD,743,"Beaubien, Ste. 201",Detroit,MI,...,$20.00,$150.00,$10.00,$0.00,$1680.00,PAID IN FULL,0.0,0,"2566 GRAND BLVD\nDetroit, MI\n(42.363182370000...","743 Beaubien\nDetroit, MI 48226\n(42.333730630..."
1,19800,05000025DAH,Department of Public Works,"JACKSON, RAECHELLE",19014,ASHTON,20501,HEYDEN,DETROIT,MI,...,$20.00,$10.00,$10.00,$0.00,$140.00,NO PAYMENT APPLIED,0.0,0,"19014 ASHTON\nDetroit, MI\n(42.429390762000025...","20501 HEYDEN\nDETROIT, MI 48219\n(42.442177633..."
2,19804,05000026DAH,Department of Public Works,"TALTON, CAROL ANN",18735,STAHELIN,18735,STAHELI N,DETROIT,MI,...,$20.00,$10.00,$10.00,$0.00,$140.00,PAID IN FULL,0.0,0,"18735 STAHELIN\nDetroit, MI\n(42.4287074590000...","18735 STAHELI N\nDETROIT, MI 48219\n(42.428707..."
3,20208,05000027DAH,Department of Public Works,"BONNER, DARRYL E.",20125,MONICA,25335,PEEKSKILL,SOUTHFIELD,MI,...,$20.00,$10.00,$10.00,$0.00,$140.00,NO PAYMENT APPLIED,0.0,0,"20125 MONICA\nDetroit, MI\n(42.44169828400004,...","25335 PEEKSKILL\nSOUTHFIELD, MI 48043\n(42.475..."
4,20211,05000028DAH,Department of Public Works,"GREGORY, JAMES LEE",17397,PRAIRIE,17397,PRAIRIE,DETROIT,MI,...,$20.00,$10.00,$10.00,$0.00,$140.00,PAID IN FULL,0.0,0,"17397 PRAIRIE\nDetroit, MI\n(42.42031769500005...","17397 PRAIRIE\nDETROIT, MI 48221\n(42.42031769..."

In [44]:
inci_df = incident_data.copy()
geo_pat = re.compile('\((.+), (.+)\)')
inci_df['lat'] = inci_df.ViolationAddress.apply(lambda x: float(re.search(geo_pat, x).group(1)))
inci_df['lon'] = inci_df.ViolationAddress.apply(lambda x: float(re.search(geo_pat, x).group(2)))

#### build feature:
- number of blight violations for each building

In [47]:
inci_df['building_no'] = model.predict(inci_df[['lat', 'lon']])

In [48]:
building_violation_counts = inci_df.building_no.value_counts()

In [51]:
building_violation_counts

6        21114
101       4467
90        2004
412       1713
606       1372
728       1142
233        756
442        742
1360       639
1407       626
163        496
683        414
1369       326
2147       306
998        210
85         205
27371      184
1120       154
4092       150
8223       148
921        148
20         147
307        146
1765       123
3819       111
4970       108
1958       105
430        104
980        103
460        102
         ...
36978        1
34929        1
32880        1
32391        1
34456        1
40091        1
31784        1
36505        1
38554        1
31221        1
31706        1
32647        1
39027        1
35894        1
33847        1
36249        1
34200        1
35008        1
33787        1
32851        1
35307        1
33258        1
39882        1
32040        1
32135        1
34898        1
36945        1
38992        1
39640        1
36761        1
Name: building_no, dtype: int64

In [56]:
train_data['violation_counts'] = building_violation_counts[train_data.index]

In [64]:
train_data.head()

             lat        lon demolished  violation_counts
No
22441  42.364436 -83.015968      False                 3
29255  42.393122 -82.942291      False                 4
29728  42.429585 -83.205227      False                 5
30951  42.293303 -83.137300      False                 3
7817   42.412906 -83.122895      False                 6

In [57]:
train_data.groupby('demolished').mean()

                  lat        lon  violation_counts
demolished
False       42.390183 -83.111024          6.378966
True        42.384212 -83.090413         18.223582

In [75]:
train_data.sort_values('violation_counts', ascending=False)

             lat        lon demolished  violation_counts
No
6      42.331681 -83.047996       True             21114
101    42.334382 -83.216038       True              4467
90     42.415907 -83.121307       True              2004
412    42.345279 -83.216524       True              1713
728    42.353227 -83.085875       True              1142
233    42.389492 -83.009242       True               756
442    42.375073 -83.114547       True               742
1360   42.328933 -83.225472       True               639
1407   42.332503 -83.049754       True               626
163    42.348796 -83.110137       True               496
85     42.305387 -83.107297       True               205
27371  42.330731 -83.131536      False               184
8223   42.347850 -83.117647       True               148
20     42.301462 -83.112361       True               147
307    42.369786 -83.216326       True               146
1765   42.410730 -83.179574      False               123
3819   42.409349 -82.954600       True               111
460    42.418064 -83.160371       True               102
2776   42.396309 -83.115936       True                96
2229   42.430542 -83.108051       True                95
590    42.350572 -83.144112      False                88
9282   42.431999 -83.074927       True                86
1063   42.421883 -83.030948       True                85
8005   42.441129 -82.990113       True                82
3989   42.435728 -83.005791       True                81
3144   42.348586 -83.214973       True                81
1176   42.353337 -83.221146       True                80
2596   42.279263 -83.140909       True                76
6209   42.408987 -83.132581       True                74
999    42.334904 -83.045987      False                73
...          ...        ...        ...               ...
36696  42.432592 -83.113724      False                 1
38020  42.428384 -82.933261      False                 1
34917  42.434018 -83.169747      False                 1
36139  42.390030 -83.079125      False                 1
32577  42.386502 -82.958328      False                 1
31365  42.427091 -83.082574      False                 1
39985  42.439028 -83.026488      False                 1
31542  42.436912 -82.975220      False                 1
37976  42.399588 -83.207798      False                 1
34271  42.439941 -83.179664      False                 1
38530  42.437819 -83.144908      False                 1
38276  42.367222 -83.195073      False                 1
38928  42.390298 -83.000653      False                 1
35692  42.434982 -83.148470      False                 1
34648  42.438629 -83.119364      False                 1
33876  42.431057 -83.138688      False                 1
31086  42.442072 -83.086804      False                 1
35961  42.395693 -83.110311      False                 1
34528  42.373363 -82.976771      False                 1
34512  42.344088 -83.076963      False                 1
33918  42.443946 -82.950641      False                 1
39824  42.352417 -83.158698      False                 1
33592  42.363831 -82.979697      False                 1
37755  42.381035 -83.148202      False                 1
38860  42.354647 -83.142978      False                 1
31587  42.367466 -83.129712      False                 1
32189  42.398467 -83.015482      False                 1
38556  42.383763 -83.073370      False                 1
37249  42.391347 -83.173710      False                 1
40254  42.296045 -83.130071       True                 1

[8006 rows x 4 columns]

In [97]:
from sklearn.linear_model.logistic import LogisticRegression
from sklearn import cross_validation

In [133]:
model1 = LogisticRegression(penalty='l1')

In [125]:
model1.fit(train_data.violation_counts.reshape(-1, 1), train_data.demolished)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [134]:
cross_validation.cross_val_score(model1, train_data.violation_counts.reshape(-1, 1), train_data.demolished,
                                 cv=5, scoring='accuracy')

array([ 0.73845194,  0.67540574,  0.59550562,  0.488125  ,  0.39625   ])

In [128]:
from sklearn.ensemble import RandomForestClassifier

In [129]:
model2 = RandomForestClassifier(n_estimators=50)

In [130]:
model2.fit(train_data.violation_counts.reshape(-1, 1), train_data.demolished)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=50, n_jobs=1,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [132]:
model2.score(train_data.violation_counts.reshape(-1, 1), train_data.demolished)

0.58181363977017242

In [131]:
cross_validation.cross_val_score(model2, train_data.violation_counts.reshape(-1, 1), train_data.demolished,
                                 cv=5, scoring='accuracy')

array([ 0.67540574,  0.66167291,  0.5948814 ,  0.49875   ,  0.32125   ])

### try more feaures